.form-group-collection {
  input {
    padding: 10px 15px;
    margin: 0 auto 15px;
  }
}
.login-btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: #ff73b3;
  opacity: 1;
  border: none;
  padding: 10px 15px;
  transition: all 0.5s;
  align-self: center;
  &:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px 1px #ff73b3;
  }
}
form {
  background-color: #fff;
  padding: 10vh;
  display: flex;
  flex-direction: column;
}
.message {
    margin: 15px auto;
    color: red;
}